
<button id="btn">다음페이지까지 가져와</button>

<script>

const render_btn = document.querySelector('#btn')
let page = 1
renderPage(page)
function renderPage(pages){
  fetch(`http://127.0.0.1:8000/boardapi/?page=${pages}`)
  .then((response) => response.json())
  .then((data) => {
    for(let i = 0; i<data.results.length; i++){
      const item = document.createElement('li')
      const main = document.querySelector('main')
      item.innerHTML =('<div>'+JSON.stringify(data.results[i])+'</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>')
      document.body.append(item)
    }
  });
  page +=1
}
window.onscroll = function(e) {
  console.log((window.innerHeight + window.scrollY-56 ), document.body.offsetHeight)
  if((window.innerHeight + window.scrollY ) >= document.body.offsetHeight) { 
    setTimeout(function(){
      renderPage(page)
    }, 1000)  
  }
}
</script>


