{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head %}
{% block contents %}
{% if request.session.username %}
    
<!DOCTYPE html>

<style>
    #write{
        width: 300px;
        height: 50px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom:  3px solid black;
    }

</style>
<section id="Title">
    <div class="title-content" data-aos="fade-up" >
        <h1 class="name"> 오늘 하루는 어떠셨나요? </h1>
        <br>
        <div>
            <form  action="/diary/detail/"  method="POST">
                {% csrf_token %}
                {% comment %} <label for="name">일기</label> {% endcomment %}
                <input id = "write" type = "text" name = "write" placeholder="입력해주세요! " 
                    value="{{ form.write.value | default_if_none:'' }}">

                <input id = 'input2' type = "submit" class="btn-login scrollto" />
                <br>
                <br>
                <br>
                {% include "form_errors.html" %}
            </form>
        </div>
    </div>
</section><!-- End Hero Section -->



{% else %}
<h1>로그인을 하세요<h1>

{% endif %}

{% endblock contents %}