{% extends 'base/base.html' %}

{% block contents %}
{% if request.session.username %}
    
<!DOCTYPE html>
<style>
    #write{
        width: 300px;
        height: 50px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom:  3px solid black;
    }
    #input2{
        width:  100px;
        height: 55px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom:  3px solid black;
    }
</style>
<section id="Title">
    <div class="title-content" data-aos="fade-up" >
        <h1 class="name"> 기존에 쓴 글이 이미 존재합니다 </h1>
            <br>
            <h1 class="t1"> 기존에 쓴 일기 : {{diary.write}} </h1>
            <h1 class="t1">지금 쓴 일기: {{diary_text.write}}</h1>
            <br>
        <br>
        <div>
            <form action = '/diary/list/' method = "POST">
                {% csrf_token %}
                <input type="hidden" name="hidden" value="{{diary_text.write}}">
                <input id = 'input1' type = "submit" value = "일기 바꾸기"/>
            </form>
            <form action = '/diary/list/' method = "POST">
                {% csrf_token %}
                <input id = 'input1' type = "submit" value = "그대로 두기"/>
            </form>
        </div>
    </div>
</section><!-- End Hero Section -->



{% else %}
<h1>로그인을 하세요<h1>
{% endif %}

{% endblock contents %}