{% extends 'base/base.html' %}
{% block head %}
<style>
    main {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:auto;
        margin-bottom:auto;
    }
    form {
        display:flex;
        justify-content:center;
        flex-wrap :wrap;
        width: 40%;
    }
    .form-group {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content:center; 
        height:40px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .form-control {
        width:70%;
    }
    .label-container {
        width: 30%;
    }
    .label {
        display:flex;
        height:40px;
        width: 30%;
        justify-content:center;
        align-items:center;
    }
    .btn-container {
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
    }
</style>
{% endblock head %}
{% block contents %}
<form method = "post" >
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group" >
        <div class="label">{{ field.label }}</div>
        {% comment %} <label for="{{ field.id_for_label }}">{{ field.label }}</label> {% endcomment %}
        <input type="{{ field.field.widget.input_type}}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}"/>
    </div>
    {% if field.errors %}
    <span style="color: red;"> {{ field.errors }}</span>
    {% endif %}
    {% endfor %}
    <div class="btn-container">
        <button class="btn btn-secondary" type="submit">로그인</button>
    </div>
</form>
{% endblock contents %}
