{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet">
{% endblock head %}
{% block contents %}
<html lang="ko">

<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div id="dis" class="card p-4 py-4">
                    <div class="text-center mt-3">
                        <h5 id="username" class="mt-2 mb-0">내가 좋아요 한 글</h5>
                        <div>
                            <br>
                            {% for expression in info %}
                            <div id="diary-content">
                                <div id="title">
                                    <div id="emotion">
                                        {% if expression.diary.emotion == "positive" %}
                                        😀
                                        {% elif expression.diary.emotion == "negative" %}
                                        😥
                                        {% else %}
                                        😐
                                        {%endif %}
                                    </div>
                                    <div id="date">
                                        {{ expression.diary.register_date.year }} - {{ expression.diary.register_date.month }} - {{ expression.diary.register_date.day }}
                                    </div>
                                </div>
                                <div id="write">
                                    {{ expression.diary.write }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style='text-align:center;'>
        <ul class='pagination justify-content-center' style="margin-top: 2rem;">
            {% for i in page_range %}
            <li class="page-item">
                <a class="page-link" href='./?page={{ i }}'>
                    {{ i }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>


{% endblock contents %}