{% extends 'base/base.html' %}
{% block head %}
<style>
    .likediary{
        background-color:aliceblue;
        border: 1px solid black;
    }
</style>
{% endblock head %}
{% block contents %}
<html lang="ko">
    <head>
        <title> 마이페이지 </title>
    </head>
    <body>
        <center>
        <br>
            <h1> 마이페이지 </h1>
        <br>
            <img src="http://127.0.0.1:8000/media/profile/32.png/" alt="http://127.0.0.1:8000/media/profile/default.jpg/" style="max-width: 100%; height: auto;">
        <br>
        <br>
            {{user}}
        <br>
            <span class='likediary'>
            <p>좋아하는 게시물</p>
            {% for expression in expressions %} 
                <table border='1'>
                    <tr>
                        <th><dt><b>writer</b></dt></th>
                        <td><span>{{ expression.diary.writer }}</span></td>
                    </tr>
                    <tr>
                        <th><dt><b>write</b></dt></th>
                        <td><span>{{ expression.diary.write }}</span></td>
                    </tr>
                        <th><dt><b>emotion</b></dt></th>
                        <td><span>{{ expression.diary.emotion }}</span></td>
                    <tr>
                        <th><dt><b>neutral</b></dt></th>
                        <td><span>{{  expression.diary.neutral }}</span></td>
                    </tr>
                    <tr>
                        <th><dt><b>positive</b></dt></th>
                        <td><span>{{ expression.diary.positive }}</span></td>
                    </tr>
                    <tr>
                        <th><dt><b>negative</b></dt></th>
                        <td><span>{{ expression.diary.negative }}</span></td>
                    </tr>
                    <tr>
                        <th><dt><b>register_date</b></dt></th>
                        <td><span>{{ expression.diary.register_date }}</span></td>
                    </tr>
                </table>
                <br>
            {% endfor %}
            </center>
            </span>
        </div>
    </body>
</html>
{% endblock contents %}